@font-face {
	font-family: 'OriginalMagnolia';
	src: url(../../assets/fonts/OriginalMagnolia.woff2) format('woff2'),
	url(../../assets/fonts/OriginalMagnolia.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}